
body{
    background-color: #ccffcc;
    color: #336600;
}

img {
    height: 250px;
    margin-left: 43%;
}

h1{
    background-color: #336600;
    color:#ccffcc;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

p{
    border: 3px solid;
}

ul, ol{
    background-color: #ffff99;
}

