
body{
  background-color: #efefeF;
  color: #A9A9A9;
  font-family: "book Antiqua", serif;
}

h1{
  color: #FF3B3F;
}

h2{
  padding-left: 50px;
}

div{
  background-color: #CAEBF2;
  width: 80%;
  margin-left: 100px;
  position: relative;
}

h3{
  color: #FF3B3F;
}

p{
  width: 90%;
}